---
import Layout from "../components/layout.astro";
---

<style>
  .steps {
    background: var(--light);
    border-bottom: 1px solid var(--lightBorder);
    border-top: 1px solid var(--lightBorder);
    display: grid;
    gap: 2rem;
    grid-template-columns: min(90vw, 250px);
    justify-content: center;
    margin-top: 3rem;
    padding: 2rem 5vw;
    width: 100vw;
  }

  @media (min-width: 550px) {
    .steps {
      grid-template-columns: repeat(2, min(calc(50% - 1rem), 250px));
    }
  }

  @media (min-width: 1050px) {
    .steps {
      grid-template-columns: repeat(4, min(calc(25% - 1.5rem), 250px));
    }
  }

  .step {
    background: var(--white);
    border: 1px solid var(--lightBorder);
    border-radius: 4px;
    /* display: flex; */
    flex-direction: column;
    font-size: 0.75rem;
    padding: 1rem 1.5rem 1.5rem;
    text-align: left;
    margin-bottom: 1rem;
  }
  .stept {
    background: var(--white);
    border: 1px solid var(--lightBorder);
    border-radius: 4px;
    /* display: flex; */
    flex-direction: column;
    font-size: 0.75rem;
    padding: 0.5rem 1rem 1rem;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  .stepHeading {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
  }

  .button {
    background: var(--primary);
    border-radius: 4px;
    color: var(--button);
    /* display: inline-block; */
    font-weight: 600;
    margin-top: auto;
    padding: 0.5rem 1rem;
    text-decoration: none;
    /* width: max-content; */
  }

  .buttont {
    background: var(--lightBorder);
    border-radius: 4px;
    color: var(--button);
    /* display: inline-block; */
    font-weight: 600;
    margin-top: auto;
    padding: 0.5rem 1rem;
    margin: 0 0 0.5rem;
    text-decoration: none;
    /* width: max-content; */
  }

  .buttonc {
    background: #caf0f8;
    border-radius: 4px;
    color: var(--first-color);
    /* display: inline-block; */
    font-weight: 600;
    margin-top: auto;
    padding: 0.5rem 1rem;
    margin: 0 0 0.5rem;
    text-decoration: none;
    /* width: max-content; */
  }

  :root {
    --base-font-size: 12px;
    --fluid-typography-ratio: 0.9;
    --rem: calc(var(--base-font-size) + var(--fluid-typography-ratio) * 0.5vw);
  }

  h1,
  h2 {
    color: #924a04;
    text-align: center;
  }

  h1 {
    font-size: calc(1.5 * var(--rem));
  }

  h2 {
    font-size: calc(1.2 * var(--rem));
  }

  h3 {
    font-size: var(--rem);
    margin: var(--rem) 0 0 0;
  }

  p {
    margin: calc(2 * var(--rem)) 0;
    text-align: center;
  }

  section {
    /* border-top: calc(0.0625 * var(--rem)) dashed #aaa;
    border-bottom: calc(0.0625 * var(--rem)) dashed #aaa; */
  }

  section table {
    padding-left: var(--rem);
  }

  .d {
    border-radius: 100%;
    display: inline-block;
    height: var(--rem);
    line-height: 0.3rem;
    padding: calc(0.25 * var(--rem));
    text-align: center;
    width: calc(1.5 * var(--rem));
    font-size: smaller;
    font-weight: bold;
  }

  .d.v {
    background: #cbef43;
    color: #004700;
  }

  .d.vg {
    background: #8de969;
    color: #14170d;
  }

  .d.seafood {
    background: #afe0ce;
    color: #14170d;
  }

  table {
    border-collapse: separate;
    border-spacing: 0 1rem;
    width: 100%;
  }

  th {
    width: 80%;
  }

  table.doubled th {
    width: auto;
  }

  th,
  td {
    font-weight: normal;
    vertical-align: top;
    text-align: left;
  }

  td.diet {
    padding-left: 0.5rem;
    text-align: right;
  }

  .types {
    font-size: calc(0.8 * var(--rem));
  }
  .types span {
    margin-left: 0.5rem;
  }
  p.notice {
    font-size: calc(0.9 * var(--rem));
    margin: 0;
  }
</style>

<Layout
  title="Food & Drinks Menu"
  description="(Eat In or Take Away)"
  home
  x-cloak
>
  <h2>(Prices subject to change. Please check the boards)</h2>
  <p class="notice">
    Please don't eat or drink takeaway food at the tables.
    <br />We will ask you to wait outside while we prepare your order.<br
    />Thank you!
  </p>
  <main>
    <section x-data="{ open: false }">
      <h2 class="button" x-on:click="open = ! open">Food</h2>
      <section x-show="open" x-transition>
        <section x-data="{ open: false }">
          <!-- Mains -->
          <h3 class="buttont" x-on:click="open = ! open">Mains</h3>
          <table class="step" x-show="open" x-transition>
            <tbody>
              <tr>
                <th scope="row">
                  <strong>1/4lb Burger</strong><br />
                </th>
                <td class="price">£5.95</td>
                <td class="diet"></td>
              </tr>
              <tr>
                <th scope="row">
                  <strong>1/2lb Burger</strong><br />
                </th>
                <td class="price">£6.95</td>
                <td class="diet"></td>
              </tr>
              <tr>
                <th scope="row">
                  <strong
                    >Veggie Burger<br /><small>Lentils, Vegetables</small
                    ></strong
                  ><br />
                </th>
                <td class="price">£6.50</td>
                <td class="diet"><span class="d v">V</span></td>
              </tr>
              <tr>
                <th scope="row">
                  <strong
                    >Vegan Burger<br /><small>BBQ, Lentils, Mixed Seeds</small
                    ></strong
                  ><br />
                </th>
                <td class="price">£6.75</td>
                <td class="diet"><span class="d vg">Vg</span></td>
              </tr>
              <tr>
                <th scope="row">
                  <strong>Add Extras to any Burger</strong><br />
                  + Onions 20p, + Cheese 30p/60p, + Bacon £1.20, + Chilli £3.00<br
                  />
                  + Mushrooms £1.20, + Egg £1.20, + Hashbrown £1.20
                </th>
              </tr>
              <tr>
                <th scope="row">
                  <strong>Wholetail Scampi & Chips</strong>
                </th>
                <td class="price">£8.75</td>
                <td class="diet"><span class="d seafood">S</span></td>
              </tr>
              <tr>
                <th scope="row">
                  <strong>Fish Goujon & Chips</strong>
                </th>
                <td class="price">£8.75</td>
                <td class="diet"></td>
              </tr>
              <tr>
                <th scope="row">
                  <strong>Ham, Egg & Chips</strong>
                </th>
                <td class="price">£7.75</td>
                <td class="diet"></td>
              </tr>
              <tr>
                <tr>
                  <th scope="row">
                    <strong
                      >Halloumi Wrap<br /><small
                        >Comes with sweet chilli sauce</small
                      >
                    </strong>
                  </th>
                  <td class="price">£6.95</td>
                  <td class="diet"></td>
                </tr>
              </tr>
              <tr>
                <th scope="row">
                  <strong>Southern Fried Chicken Wrap</strong>
                </th>
                <td class="price">£6.95</td>
                <td class="diet"></td>
              </tr>
              <tr>
                <tr>
                  <th scope="row">
                    <strong>Soup & Roll </strong>
                  </th>
                  <td class="price">£5.50</td>
                  <td class="diet"></td>
                </tr>
              </tr>
              <tr>
                <th scope="row">
                  <strong>Chips</strong>
                </th>
                <td class="price"
                  >Sml £3.00<br />
                  Lrg £4.00</td
                >
                <td class="diet"><span class="d vg">Vg</span></td>
              </tr>
              <tr>
                <th scope="row">
                  <strong>Sweet Potato Fries</strong>
                </th>
                <td class="price">£4.00</td>
                <td class="diet"><span class="d vg">Vg</span></td>
              </tr>
              <tr>
                <th scope="row">
                  <strong>Halloumi Bites</strong>
                </th>
                <td class="price">£4.95</td>
                <td class="diet"><span class="d v">V</span></td>
              </tr>
              <!--<tr>
                <th scope="row">
                  <strong>Kids Meals</strong>
                </th>
                <td class="price">£4.50</td>
                <td class="diet"></td>
              </tr>
              <tr>
                <th scope="row">
                  <strong>Freshly Filled Rolls available</strong>
                </th>
                <td class="price"></td>
                <td class="diet"></td>
              </tr>-->
            </tbody>
          </table>
          <section x-data="{ open: false }">
            <!-- Loaded chip -->
            <h3 class="buttont" x-on:click="open = ! open">Loaded Chips</h3>
            <table class="step" x-show="open" x-transition>
              <tbody>
                <tr>
                  <th scope="row">
                    <strong>Cheese and Bacon</strong>
                  </th>
                  <td class="price">£5.40</td>
                  <td class="diet"></td>
                </tr>
                <tr>
                  <th scope="row">
                    <strong>Cheese and Beans</strong>
                  </th>
                  <td class="price">£5.40</td>
                  <td class="diet"><span class="d v">V</span></td>
                </tr>
                <tr>
                  <th scope="row">
                    <strong>Chilli & Cheese</strong>
                  </th>
                  <td class="price">£7.80</td>
                  <td class="diet"><span class="d v">V</span></td>
                </tr>
                <tr>
                  <th scope="row">
                    <strong>Chorizo & Halloumi</strong>
                  </th>
                  <td class="price">£7.70</td>
                  <td class="diet"></td>
                </tr>
                <tr>
                  <th scope="row">
                    <strong>Cheese</strong>
                  </th>
                  <td class="price">£4.40</td>
                  <td class="diet"><span class="d v">V</span></td>
                </tr>
                <tr>
                  <th scope="row">
                    <strong>Beans</strong>
                  </th>
                  <td class="price">£4.40</td>
                  <td class="diet"><span class="d v">V</span></td>
                </tr>
                <tr>
                  <th scope="row">
                    <strong>Chilli</strong>
                  </th>
                  <td class="price">£6.80</td>
                  <td class="diet"><span class="d vg">Vg</span></td>
                </tr>
              </tbody>
            </table>
          </section>
          <!-- Childrens Meals -->
          <section x-data="{ open: false }">
            <h3 class="buttont" x-on:click="open = ! open">Kids Meals</h3>
            <div class="stept" x-show="open" x-transition>
              <h4>
                All meals available in a box for £5.20 or in a bucket with spade
                for £5.50. Eat in or takeaway.
              </h4>
              <section x-data="{ open: false }">
                <h3 class="buttonc" x-on:click="open = ! open">Cold Meals</h3>
                <table class="stept" x-show="open" x-transition>
                  <tbody>
                    <tr>
                      <th scope="row">
                        <strong>Cheese Roll/Jam roll</strong><br />
                        +Packet of pom bear potato snacks<br />
                        +Carton of juice or Bottled water
                      </th>
                      <td class="price"></td>
                      <td class="diet"></td>
                    </tr>
                  </tbody>
                </table>
              </section>
              <section x-data="{ open: false }">
                <h3 class="buttonc" x-on:click="open = ! open">Hot Meals</h3>
                <table class="stept" x-show="open" x-transition>
                  <tbody>
                    <tr>
                      <th scope="row">
                        <strong
                          >Chicken Nuggets/2oz Burger/Sausage/Fish Cake</strong
                        ><br />
                        +Chips<br />
                        +Carton of juice or Bottled water
                      </th>
                      <td class="price"></td>
                      <td class="diet"></td>
                    </tr>
                  </tbody>
                </table>
              </section>
            </div>
          </section>
          <section x-data="{ open: false }">
            <!-- All day break -->
            <h3 class="buttont" x-on:click="open = ! open">
              All Day Breakfast
            </h3>
            <table class="step" x-show="open" x-transition>
              <tbody>
                <tr>
                  <th scope="row">
                    <strong>Set Breakfast</strong><br />
                    Sausage, Bacon, Egg, Mushroom, Tomato, Beans, Fried Bread
                  </th>
                  <td class="price">£6.80</td>
                  <td class="diet"></td>
                </tr>
                <tr>
                  <th scope="row">
                    <strong>Large Breakfast</strong><br />
                    Added Sausage, Bacon, Hash Brown, Large Beans
                  </th>
                  <td class="price">£10.50</td>
                  <td class="diet"></td>
                </tr>
                <tr>
                  <th scope="row">
                    <strong>Build a Breakfast</strong><br />
                    Minimum 4 Items. £1.30 per item.
                  </th>
                  <td class="price"></td>
                  <td class="diet"></td>
                </tr>
                <tr>
                  <th scope="row">
                    <strong>Sausage, Bacon & Egg Roll</strong>
                  </th>
                  <td class="price">£5.50</td>
                  <td class="diet"></td>
                </tr>
                <tr>
                  <th scope="row">
                    <strong>Sausage & Bacon Roll</strong>
                  </th>
                  <td class="price">£4.60</td>
                  <td class="diet"></td>
                </tr>
                <tr>
                  <th scope="row">
                    <strong>Bacon & Egg Roll</strong>
                  </th>
                  <td class="price">£4.60</td>
                  <td class="diet"></td>
                </tr>
                <tr>
                  <th scope="row">
                    <strong>Sausage & Egg Roll</strong>
                  </th>
                  <td class="price">£4.60</td>
                  <td class="diet"></td>
                </tr>
                <tr>
                  <th scope="row">
                    <strong>Sausage in a Roll</strong>
                  </th>
                  <td class="price">£3.50</td>
                  <td class="diet"></td>
                </tr>
                <tr>
                  <th scope="row">
                    <strong>Bacon Roll</strong>
                  </th>
                  <td class="price">£3.50</td>
                  <td class="diet"></td>
                </tr>
                <tr>
                  <th scope="row">
                    Add extra items to your roll from the Breakfast Items list
                  </th>
                  <td class="price"></td>
                  <td class="diet"></td>
                </tr>
                <tr>
                  <th scope="row">
                    <strong>Breakfast Wrap</strong><br />
                    Choose 4 Items from the Breakfast Items list
                  </th>
                  <td class="price">£6.30</td>
                  <td class="diet"></td>
                </tr>
                <tr>
                  <th scope="row">
                    <strong>Breakfast Items</strong><br />
                    Bacon, Sausage, Egg, Hashbrown, Beans, Potato Slices, Tomato,
                    Mushrooms, Black Pudding, Fried Bread
                  </th>
                  <td class="price"><br />£1.30 each</td>
                  <td class="diet"></td>
                </tr>
                <tr>
                  <th scope="row"> Cheese Slices</th>
                  <td class="price">£0.30 each</td>
                  <td class="diet"></td>
                </tr>
              </tbody>
            </table>
          </section>
          <section x-data="{ open: false }">
            <!-- Jacket potato -->
            <h3 class="buttont" x-on:click="open = ! open">Jacket Potatoes</h3>
            <table class="step" x-show="open" x-transition>
              <tbody>
                <th>Served with a garnish</th>
                <tr>
                  <th scope="row">
                    <strong>Plain</strong>
                  </th>
                  <td
